button, .button {
  background: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  font-size: 20px;
  line-height: 1.1;
  padding: .75em 1em;
  text-transform: uppercase;

  &.is-full-width {
    width: 100%;
  }

  &, &:link, &:visited {
    color: #444;
  }

  &:focus {
    outline: none;
  }

  &:hover, &:focus {
    background: #f6f6f6;
    color: #000;
  }

  &:active {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transform: translateY(2px);
  }
}