@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import './styles/app-layout';
@import './styles/buttons';
@import './styles/input';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  background: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}